
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FDF5E6; 
    color: #2F4F4F; 
    margin: 30px; 
}

#encabezado {
    background-color: #8B0000;
    padding: 20px;
    text-align: center;
    border-radius: 10px; 
}

#personajes-destacados {
    margin-top: 40px;
}

#tabla-info {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    margin-bottom: 30px;
}

#pie-pagina {
    text-align: center;
    padding: 20px;
    background-color: #228B22; 
    border-radius: 10px;
}

/* 3. Estilos usando Clases (.) */
.titulo-principal {
    font-family: 'Comic Neue', cursive;
    color: #FFD700; 
    font-size: 3.5em;
    margin: 0;
}

.subtitulo {
    color: #FFFFFF;
    font-size: 1.2em;
    font-style: italic;
}

.caja-intro {
    background-color: #FFFFFF;
    border-left: 6px solid #8B0000;
    padding: 20px;
    margin-top: 20px;
    font-size: 1.1em;
    line-height: 1.6; 
}

.titulo-seccion {
    color: #8B0000;
    border-bottom: 2px dashed #2F4F4F; 
    padding-bottom: 10px;
}

.tarjeta-personaje {
    background-color: #FFF8DC; 
    border: 2px solid #DEB887;
    padding: 20px;
    margin-bottom: 25px;
    text-align: center;
    border-radius: 8px;
}

.nombre {
    color: #228B22;
    font-size: 1.8em;
    margin-top: 0;
}

.foto {
    width: 200px;
    border: 4px solid #2F4F4F; 
}

.descripcion {
    font-size: 1.1em;
    margin-top: 15px;
}

.cabecera-tabla {
    background-color: #2F4F4F;
    color: #FFFFFF;
    padding: 15px;
}

.celda {
    border: 1px solid #CCCCCC;
    padding: 12px;
    text-align: center;
}

.enlace-externo {
    color: #FFFFFF;
    font-size: 1.3em;
    text-decoration: none;
    font-weight: bold;
}


.enlace-externo:hover {
    color: #FFD700;
    text-decoration: underline; 
}